<h2 class="content-block">Household Water test Volunteers</h2>
<div style="padding-left: 3%;padding-right: 3%;">
    <dx-data-grid id="gridContainer"
        class="dx-card wide-card"
        [dataSource]="householdWaterTestsVol"
        [remoteOperations]="false"
        [allowColumnReordering]="true"
        [rowAlternationEnabled]="true"
        [showBorders]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        [showColumnLines]="true"
        height='calc(100vh - 150px)'
        (onRowRemoving)="removingRow($event)"
        (onRowRemoved)="removedRow($event)">

        <dxo-editing
            [allowUpdating]="false"
            [allowAdding]="false"
            [allowDeleting]="true"
            [confirmDelete]="true"
            mode="popup"> <!-- 'row'| 'batch' | 'cell' | 'form' | 'popup' -->
        </dxo-editing>

        <dxo-load-panel
            [enabled]="true"
            [height]="100"
            [width]="250">
        </dxo-load-panel>

        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 50, 100]"
        ></dxo-pager>

        <dxo-group-panel
            [visible]="true"
        ></dxo-group-panel>
        <dxo-grouping
            [autoExpandAll]="false"
        ></dxo-grouping>

        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-selection        
            mode="multiple"
        ></dxo-selection>

        <dxo-export [enabled]="true" [allowExportSelectedData]="true" fileName="HouseholdWaterTestVolunteers"></dxo-export>
        
        <dxo-search-panel
            [visible]="true"
            [highlightCaseSensitive]="true"
        ></dxo-search-panel>    
        

        <dxi-column dataField="id" dataType="string" ></dxi-column>
        <dxi-column dataField="FullNameSwe" dataType="string" caption="SWE fullname" ></dxi-column>
        <dxi-column dataField="Namebwe" dataType="string" caption="Email BWE"></dxi-column>
        <dxi-column dataField="Namevol" dataType="string" caption="Email Volunteer"></dxi-column>
        <dxi-column dataField="Country" dataType="string"></dxi-column>
        <dxi-column dataField="Community" dataType="string"></dxi-column>
        <dxi-column dataField="date" dataType="date" format="shortDate"></dxi-column>
        <dxi-column dataField="HeadHouseholdName" dataType="string"></dxi-column>
        <dxi-column dataField="HouseholdLocation" dataType="string"></dxi-column>
        <dxi-column dataField="ColilertDateTested" dataType="date" ></dxi-column>
        <dxi-column dataField="ColilertDateRead" dataType="date" ></dxi-column>
        <dxi-column dataField="ColilertTestResult" dataType="string" [calculateDisplayValue]="getColilertTestResultDescription"></dxi-column>
        <dxi-column dataField="PetrifilmDateTested" dataType="date" ></dxi-column>
        <dxi-column dataField="PetrifilmDateRead" dataType="date" ></dxi-column>
        <dxi-column dataField="PetrifilmTestResult" dataType="string" [calculateDisplayValue]="getPetrifilmTestResultDescription"v></dxi-column>
        <dxi-column dataField="ChlorineDateTested" dataType="date" ></dxi-column>
        <dxi-column dataField="ChlorineTestResult" dataType="string" ></dxi-column>
        <dxi-column dataField="Completed" dataType="number" ></dxi-column>
        <dxi-column dataField="Lat" dataType="string" caption="Latitude"></dxi-column>
        <dxi-column dataField="Lng" dataType="string" caption="Longitude"></dxi-column>   

        <dxo-summary>
            <dxi-total-item
                column="id"
                summaryType="count">
            </dxi-total-item>
            
        </dxo-summary>

    </dx-data-grid>

</div>
