<h2 class="content-block">Water Quality indicators</h2>
<div class="form">    
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">
            Parameter Settings            
        </div>  
        <div class="dx-field">
            <div class="dx-field-label">Country and Community</div>
            <div class="dx-field-value">
                <dx-drop-down-box
                        [(value)]="gridIdCountryCommValue"
                        valueExpr="ID"
                        displayExpr="Community"
                        placeholder="Select community..."
                        [showClearButton]="true"
                        [dataSource]="gridCountryCommDataSource"
                        onValueChanged="CountryAndCommunityValueChanged"
                >
    
                    <div *dxTemplate="let data of 'content'">
                        <dx-data-grid
                                [dataSource]="gridCountryCommDataSource"
                                [columns]="['Country', 'Community']"
                                [selection]="{ mode: 'multiple' }"
                                [hoverStateEnabled]="true"
                                [paging]="{ enabled: true, pageSize: 10 }"
                                [scrolling]="{ mode: 'virtual' }"
                                [height]="345"
                                keyExpr="ID"
                                [(selectedRowKeys)]="gridIdCountryCommValue"
                        >
                        </dx-data-grid>
                    </div>
                </dx-drop-down-box>
            </div>
        </div>   
        <div class="dx-field">
            <div class="dx-field-label">Date range</div>
            <div class="dx-field-value"> 
                <dx-range-selector 
                    id="range-selector"
                    [value]="[defaultSelectedStartValue, defaultSelectedEndValue]"
                    (onValueChanged)="onDateParamValueChanged($event)">
                    <dxo-margin [top]="50"></dxo-margin>
                    <dxo-scale
                        [startValue]="startValue"
                        [endValue]="endValue"
                        minorTickInterval="month"
                        tickInterval="month"
                        minRange="month"
                        maxRange="year">
                        <dxo-minor-tick [visible]="false"></dxo-minor-tick>
                    </dxo-scale>
                    
            </dx-range-selector>              
            </div>
        </div> 
        <div class="dx-field">
            <dx-button
                stylingMode="contained"
                text="Generate Report"
                type="default"
                [width]="120"
                (onClick)="click($event)">
            </dx-button>
        </div>    
    </div>
    
</div>



<div class="result">
    <div style="margin:20px;font-size: 18px;">
        Community Water Test Records 
    </div>
    
    <dx-data-grid id="gridContainer"
    class="dx-card wide-card"
    [dataSource]="waterIndicatorReportFromFilteredCommWaterTest"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [showColumnLines]="true">

        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[5,10, 25, 50, 100]"
        ></dxo-pager>

        <dxo-group-panel
            [visible]="true"
        ></dxo-group-panel>
        <dxo-grouping
            [autoExpandAll]="false"
        ></dxo-grouping>

        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-selection        
            mode="multiple"
        ></dxo-selection>

        <dxo-export [enabled]="true" [allowExportSelectedData]="true" fileName="CommunityWaterTest"></dxo-export>
        
        <dxo-search-panel
            [visible]="true"
            [highlightCaseSensitive]="true"
        ></dxo-search-panel> 

        <dxi-column dataField="Name" dataType="string" caption="Community Water Sources"></dxi-column>
        <dxi-column dataField="ColilertScoreMonth1" dataType="number" ></dxi-column>
        <dxi-column dataField="ColilertScoreMonth3" dataType="number" ></dxi-column>
        <dxi-column dataField="ColilertScoreMonth6" dataType="number" ></dxi-column>
        <dxi-column dataField="ColilertScoreMonth9" dataType="number" ></dxi-column>
        <dxi-column dataField="ColilertScoreMonth12" dataType="number" ></dxi-column>
        <dxi-column dataField="PetrifilmScoreMonth1" dataType="number" ></dxi-column>
        <dxi-column dataField="PetrifilmScoreMonth3" dataType="number" ></dxi-column>
        <dxi-column dataField="PetrifilmScoreMonth6" dataType="number" ></dxi-column>
        <dxi-column dataField="PetrifilmScoreMonth9" dataType="number" ></dxi-column>
        <dxi-column dataField="PetrifilmScoreMonth12" dataType="number" ></dxi-column>
        <dxi-column dataField="AverageCombinedScoreMonth1" dataType="number" ></dxi-column>
        <dxi-column dataField="AverageCombinedScoreMonth3" dataType="number" ></dxi-column>
        <dxi-column dataField="AverageCombinedScoreMonth6" dataType="number" ></dxi-column>
        <dxi-column dataField="AverageCombinedScoreMonth9" dataType="number" ></dxi-column>
        <dxi-column dataField="AverageCombinedScoreMonth12" dataType="number" ></dxi-column>

    </dx-data-grid>
</div> 
