<h2 class="content-block">Health Survey</h2>
<dx-data-grid id="gridContainer"
    class="dx-card wide-card"
    [dataSource]="healthSurveys"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [showColumnLines]="true">

    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5,10, 25, 50, 100]"
    ></dxo-pager>

    <dxo-group-panel
        [visible]="true"
    ></dxo-group-panel>
    <dxo-grouping
        [autoExpandAll]="false"
    ></dxo-grouping>

    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-selection        
        mode="multiple"
    ></dxo-selection>

    <dxo-export [enabled]="true" [allowExportSelectedData]="true" fileName="InitialSurvey"></dxo-export>
    
    <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="true"
    ></dxo-search-panel>    
    

    <dxi-column dataField="id" dataType="string" ></dxi-column>
    <dxi-column dataField="Namebwe" dataType="string" caption="Email BWE"></dxi-column>
    <dxi-column dataField="Country" dataType="string"></dxi-column>
    <dxi-column dataField="Community" dataType="string"></dxi-column>
    <dxi-column dataField="SurveyId" dataType="string" ></dxi-column>
    <dxi-column dataField="date" dataType="date" format="shortDate"></dxi-column>
    <dxi-column dataField="HeadHouseholdName" dataType="string"></dxi-column>
    <dxi-column dataField="PersonBeingInterviewed" dataType="string" [calculateDisplayValue]="getPersonBeingInterviewedDescription"></dxi-column>
    <dxi-column dataField="WasteDisposalYoungestChild" dataType="string" [calculateDisplayValue]="getWasteDisposalYoungestChildDescription" caption="The last time the youngest child in the household passed a stool, what was done to dispose of the waste?"></dxi-column>
    
  
    <dxi-column dataField="WashedHandsIn24Hours" dataType="string" [calculateDisplayValue]="getWashedHandsIn24HoursDescription" caption="In the past 24 hours, have you personally washed your hands?"></dxi-column>
    <dxi-column dataField="WhenWashedHandsIn24Hours" dataType="string" [calculateDisplayValue]="getWhenWashedHandsIn24HoursDescription" caption="In the past 24 hours, when did you wash your hands?"></dxi-column>
    <dxi-column dataField="WhatUsedToWashYourHands" dataType="string" [calculateDisplayValue]="getWhatUsedToWashYourHandsDescription" caption="What do you use to wash your hands?"></dxi-column>
    <dxi-column dataField="NoChildrenWithVomitingOrDiarrheaIn14days" dataType="number" caption="In the last two weeks (14 days), how many school-age children in your household experienced vomiting and/or diarrhea? (number of children)"></dxi-column>
    <dxi-column dataField="NoTotalSchoolDaysMissedBySchoolAgeChildrenIn2LastWeek" dataType="number" caption="In the last two weeks, how many total school days have school-age children in this household missed due to illness? (No. of days)"></dxi-column>
    <dxi-column dataField="NoChildrenWithVomitingOrDiarrheaIn7days" dataType="number" caption="In the last week (7 days), how many children under 5 years old in your household had vomiting and/or diarrhea?"></dxi-column>
    <dxi-column dataField="DidSickChildrenGoToHospital" dataType="string" [calculateDisplayValue]="getDidSickChildrenGoToHospitalDescription" caption="Did the child(ren) who had vomiting and/or diarrhea go to hospital?"></dxi-column>
    <dxi-column dataField="DidSickChildrenGoToHospitalYes" dataType="string" [calculateDisplayValue]="getDidSickChildrenGoToHospitalYesDescription" caption="Medications given to the child(ren) who had vomiting and/or diarrhea"></dxi-column>
    <dxi-column dataField="SickChildrenBreastfeeding" dataType="string" [calculateDisplayValue]="getSickChildrenBreastfeedingDescription" caption="Is the young child(ren) [&lt; 5 years] who was ill breastfeeding?"></dxi-column>
    <dxi-column dataField="OutcomeMostRecentVomiting_DiarrheaAtHospital" dataType="string" [calculateDisplayValue]="getOutcomeMostRecentVomiting_DiarrheaAtHospitalDescription" caption="What was the outcome of your child(ren)&#8217;s most recent vomiting/diarrhea at the hospital?"></dxi-column>
    <dxi-column dataField="NoDaysNoWorkBecauseOfOwnIllness" dataType="number" caption="In the last two weeks, how many days have you personally been unable to do work due to your own stomach pain/diarrhea illness?"></dxi-column>
    <dxi-column dataField="NoDaysNoWorkBecauseOfIllnessFamilyMembers" dataType="number" caption="In the last two weeks, how many total days have other members of your family been unable to do work due to stomach pain/diarrhea illness?"></dxi-column>
    <dxi-column dataField="MoneySpentMedicalTreatmentLast4weeks" dataType="number" caption="How much money was spent by members of this household for medical treatment for these illnesses in the last four (4) weeks? (in local currency)"></dxi-column>
    
    <dxi-column dataField="WaterTreatment24Hours" dataType="string" caption="During the last 24 hours, did you or someone in your household treat the family drinking water?" [calculateDisplayValue]="getWaterTreatment24HoursDescription"></dxi-column>
    <dxi-column dataField="MainReasonNoWaterTreatment24Hour" dataType="string" caption="If the family drinking water was not treated, what is the main reason?" [calculateDisplayValue]="getMainReasonNoWaterTreatment24HourDescription"></dxi-column>
    <dxi-column dataField="WaterTreatment24HourMethod" dataType="string" caption="If the household drinking water was treated, what was done to make it safer to drink?" [calculateDisplayValue]="getWaterTreatment24HourMethodDescription"></dxi-column>
    

    <dxi-column dataField="Completed" dataType="number" ></dxi-column>
    <dxi-column dataField="Lat" dataType="string" caption="Latitude"></dxi-column>
    <dxi-column dataField="Lng" dataType="string" caption="Longitude"></dxi-column>    

 
    
</dx-data-grid>
